$color: #FF6060;
$color-background: #F6F6F6;

.content {
    display: flex;
    justify-content: space-between;
    color: $color;
    @media (max-width:650px) {
        flex-direction: column;
    }
    &__description {
        display: flex;
        flex-direction: column;
        gap: 15px;
        @media (max-width:650px) {
            gap: 10px;
        }
        &__title {
            font-size: 36px;
            font-weight: 500;
            @media (max-width:650px) {
                font-size: 18px;
            }
        }
        &__location {
            font-size: 18px;
            font-weight: 500;
            @media (max-width:650px) {
                font-size: 14px;
            }
        }
        &__tags {
            display: flex;
            column-gap: 15px;
            list-style-type: none;
            & li {
                padding: 3px 20px;
                font-size: 14px;
                color: #fff;
                background-color: $color;
                border-radius: 8px;
                @media (max-width:650px) {
                    font-size: 10px;
                }
            }
        }
    }
    &__owner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @media (max-width:650px) {
            flex-direction: row-reverse;
            align-items: center;
        }
        &__picture {
            display: flex;
            justify-content: flex-end;
            column-gap: 8px;
            & h2 {
                display: flex;
                align-items: center;
                text-align: right;
                font-size: 18px;
                font-weight: 500;
                @media (max-width:650px) {
                    font-size: 12px;
                }
            }
            & img {
                display: block;
                border-radius: 50%;
            }
        }
        &__rating {
            font-size: 30px;
            display: flex;
            column-gap: 5px;
            & .noActive {
                color:#F6F6F6;
            }
            @media (max-width:650px) {
                font-size: 18px;
            }
        }
    }
}
.collapse {
    margin: 25px 0;
    display: flex;
    gap: 50px;
    @media (max-width:1024px) {
        gap: 20px;
    }
    @media (max-width:650px) {
        flex-direction: column;
        align-items: center;
        gap: 25px;
    }
}