.main {
    margin: 25px 0;
    & .background {
        height: 223px;
        position: relative;
        &__image {
            height: 223px;
            width: 100%;
            display: block;
            object-fit: cover;
            filter: brightness(75%);
            border-radius: 25px;
        }
        &__title {
            position: absolute;
            font-size: 48px;
            font-weight: 500;
            top: 50%;
            left: 0;
            right: 0;
            transform: translateY(-50%);
            text-align: center;
            color: #fff;
        }
    }
    & .gallery {
        &__container {
            margin: 25px 0;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            gap: 25px;
            &__articles {
                position: relative;

                &__image {
                    width: 100%;
                    max-width: 340px;
                    aspect-ratio: 1/1;
                    object-fit: cover;
                    border-radius: 10px;
                }
                &__title {
                    font-size: 18px;
                    font-weight: 500;
                    position: absolute;
                    bottom: 10px;
                    left: 10px;
                    z-index: 10;
                }
            }
        }
    }
}
