@import "./colors";

.slideContainer {
    height: 415px;
    margin: 25px 0;
    position: relative;
    overflow: hidden;
    @media (max-width:650px) {
        height: 255px;
    }
    & .images {
        position: absolute;
        width: 100%;
        display: none;
        object-fit: cover;
        border-radius: 20px;
        transition: transform 1000ms;
       
        &.active {
            display: block;
            transform: translateX(0);
        }
        &.activeNext {
            display: block;
            transform: translateX(100%);
        }
        &.activePrevious {
            display: block;
            transform: translateX(-100%);
        }
        @media (max-width:650px) {
            height: 255px;
        }
    }
    & .btn, & .slide {
        position: absolute;
        z-index: 10;
    }
    & .btn {
        top: 50%;
        transform: translateY(-50%);
        border: 0;
        cursor: pointer;
        background-color: $color-transparent;
        &.previous {
            left: 5%;
        }
        &.next {
            right: 5%;
        }
        & img {
            @media (max-width:650px) {
                height: 24px;
            }
        }
    }
    & .slide {
        bottom: 5%;
        left: 0;
        right: 0;
        text-align: center;
        color: $color-white;
    }

}